*{
	padding: 0px;
	margin: 0px;
}
#container{
	background-color: white;
	width: 800px;
	margin: 0px auto;
	text-align: center;
	border: 1px solid black;
}
.inline{
	display: inline-block;
	margin-top: 10px;
}

.btn {
	padding: 5px 10px;
}
.red{
	color: red;
}
.section{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.block{
	display: block;
	margin: 0px auto;
}

.attr{
	color: blue;
	font-style: italic;
}
.inline li{
	display: inline-block;
}
.fixed_height{
	height: 500px;
}
